* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
  }
  
  body {
    display: flex;
    width: 100%;
    height: 1200px;
    background-color: #e6e4e4;
    align-items: center;
    flex-direction: column;
  }
  
  /*main*/
  
  main {
    width: 94%;
    background-color: #ffffff;
    padding-bottom: 600px;
  }
  
  /*header*/
  
  header {
    display: flex;
    width: 94%;
    height: 110px;
    color: white;
    background-color: #21272b;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
  }
  
  ul a {
    text-decoration: none;
    color: white;
  }
  
  .MENU ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-top: 35px;
    padding-right: 45px;
    gap: 25px;
  }
  
  .MENU li {
    padding-right: 20px;
    cursor: pointer;
    border-right: 3px solid #bb0505;
  }
  
  .MENU li:last-child {
    border-right: none;
  }
  
  .MENU li a:hover {
    color: #bb0505;
  }
  
  .Título {
    display: flex;
    padding-left: 40px;
    font-style: italic;
  }
  
  .Título h1 {
    color: #ffffff;
    font-size: 19px;
  }
  
  .Título h2 {
    font-size: 18px;
  }
  
  .TítuloemTexto {
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .TítuloemTexto h2 {
    font-size: 25px;
    font-weight: inherit;
    font-family:'Times New Roman', Times, serif;
  }
  
  .TítuloemTexto h1 {
    font-weight: inherit;
    font-size: large;
    font-style: normal;
  }
  
  
  .ImagemTexto {
    width: 100%;
    height: 650px;
    background-image: url(capadefundo_site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 250px;
    padding: 0px 30px 0px 30px;
    gap: 50px;
    background-color: #21272b;
    color: white;
    font-style: italic;
    position: relative;
    left: 700px;
    top: 300px;
    border-radius: 3px;
  }
  
  .Título_Caixa {
    display: flex;
    gap: 13px;
  }
  
  .Título_Caixa h2 {
    font-size: 30px;
    font-weight: inherit;
    font-family:'Times New Roman', Times, serif;
  }
  
  .Texto_Caixa {
    display: flex;
    gap: 13px;
  }
  
  .Texto_Caixa p {
    font-size: 19px;
    font-weight: inherit;
    font-style: unset;
    font-style: normal;
  }
  
  .Texto_Caixa span {
    color: #bb0505;
  }
  
  .Tópicos {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .BlocoÚltimaHora {
    width: 46%;
    height: 520px;
    padding: 10px;
  }
  
  .TítuloÚltimaHora {
    display: flex;
    color: white;
    background-color: #bb0505;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .TítuloÚltimaHora h2 {
    font-weight: inherit;
    font-family:'Times New Roman', Times, serif;
  }
  
  .PrimeiraNoticiaH h3 a {
    color: #21272b;
  }
  
  .PrimeiraNoticiaH h3 a:hover {
    color: #bb0505;
  }
  
  .PrimeiraNoticiaH h3 {
    padding-bottom: 20px;
    font-style: italic;
    font-weight: inherit;
  }
  
  .PrimeiraNoticiaH p {
    font-size: 15px;
    padding-bottom: 30px;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
  }
  
  .ImagemÚltimaHora1 img {
    width: 565px;
  }
  
  .SegundaNoticiaH h3 a {
    color: #21272b;
  }
  
  .SegundaNoticiaH h3 a:hover {
    color: #bb0505;
  }
  
  .SegundaNoticiaH h3 {
    padding-bottom: 20px;
    padding-top: 30px;
    font-style: italic;
    font-weight: inherit;
  }
  
  .SegundaNoticiaH p {
    font-size: 15px;
    padding-bottom: 30px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .ImagemÚltimaHora2 img {
    width: 567px;
  }
  
  .BlocoEmAlta {
    width: 46%;
    height: 520px;
    padding: 10px;
  }
  
  .PrimeiraNoticia h3 a {
    color: #21272b;
  }
  
  .PrimeiraNoticia h3  a:hover {
    color: #bb0505;
  }
  
  
  .PrimeiraNoticia h3{
    padding-bottom: 20px;
    font-style: italic;
    font-weight: inherit;
  }
  
  .PrimeiraNoticia p{
    font-size: 15px;
    padding-bottom: 30px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .SegundaNoticia h3 a {
    color: #21272b;
  }
  
  .SegundaNoticia h3 a:hover {
    color: #bb0505;
  }
  
  .SegundaNoticia h3{
    padding-bottom: 15px;
    margin-top: 50px;
    font-style: italic;
    font-weight: inherit;
  }
  
  .SegundaNoticia p{
    font-size: 15px;
    padding-bottom: 30px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .TítuloEmAlta {
    display: flex;
    color: white;
    background-color: #bb0505;
    align-items: center;
    margin-bottom: 15px;
    height: 40px;
  }
  
  .TítuloEmAlta h2 {
    font-weight: inherit;
    font-family:'Times New Roman', Times, serif;
  }
  
  .ImagensEmAlta1 {
    height: 305px;
  }
  
  .ImagensEmAlta1 img {
    width: 265px;
    height: 148px;
    padding: 5px;
  }
  
  .ImagensEmAlta2 {
    height: 305px;
  }
  
  .ImagensEmAlta2 img {
    width: 260px;
    height: 148px;
    padding: 5px;
  }
  
  footer {
    display: flex;
    width: 94%;
    height: 94px;
    background-color: #bb050598;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .Rodapé {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    text-align: start;
    background-color: #e6e4e4;
  }
  
  .Rodapé p {
    padding-top: 30px;
    padding-left: 500px;
  }